build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache
.idea/
android/.gradle
android/app/build
ios/Pods
ios/.symlinks
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.iml
*.lock
*.log
